[submodule "dwm"]
	path = dwm
	url = https://github.com/jtirsfdr/dwm.git
[submodule "st"]
	path = st
	url = https://github.com/jtirsfdr/st
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/jtirsfdr/slstatus
