Xcursor.theme: Bibata-Modern-Classic
Xcursor.size: 24
Xft.dpi: 96 

Nsxiv.*.background: #0000aa
Nsxiv.*.foreground: #000000

dwm.normbgcolor: #27144d
dwm.normbordercolor: #222222
dwm.normfgcolor: #bbbbbb
dwm.selfgcolor: #eeeeee
dwm.selbordercolor: #451f8f
dwm.selbgcolor: #451f8f

dunst.background: #000000
